.companyName {
    font-size: 150%;
  }
  
  .mat-toolbar {
    height: 8vh;
  }

  .dog{
    width: 50px;
    height: 44px;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    display: block;
  }
  div {
    overflow: inherit;
  }
  
  .mat-sidenav-container {
    min-height: 50vh !important;
  }
  
  a {
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
  }
  
  button {
    font-size: 110%;
    min-width: min-content;
  }
  
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-sidenav-content {
    font-size: 200%;
    text-align: center;
  }
  

  .blue-snackbar {
    background: #2196F3;
  }
  .mat-mdc-snack-bar-container {
    &.blue-snackbar {
      --mdc-snackbar-container-color: #2196f3;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }