.blue-snackbar {
  background-color: #2196F3!important;


}
.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #2196f3!important;
  --mat-mdc-snack-bar-button-color: #fff!important;
  --mdc-snackbar-supporting-text-color: #fff!important;
}